<form class="flex max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl m-auto mt-12">
      <input matInput class="shadow appearance-none border rounded w-full h-16 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="What do you plan doing?">
      <button mat-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-16 w-32">ADD TASK</button>
</form>

<div class="example-container mat-elevation-z8">
  
    <div class="example-table-container">
      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#ID</th>
          <td mat-cell *matCellDef="let row">{{row.number}}</td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Created
          </th>
          <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
        </ng-container>
  
        <!-- List Column -->
        <ng-container matColumnDef="list">
          <th mat-header-cell *matHeaderCellDef>List</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator [length]="(todos$ | async)?.length" [pageSize]="20" aria-label="Select page of ToDo List"></mat-paginator>
</div>
  