<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <div *ngIf="errorMessage$ | async as errorMessage">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="user.email" name="email" type="email" id="email" matInput required placeholder="Email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="user.password" name="password" type="password" id="password" matInput required placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="accent" class="btn-block">Signup</button>
      </form>
      <p class='text-center'>
        <span>Already have an account?&nbsp;</span>
        <a class='underline' routerLink="/login">Login</a>
      </p>
    </mat-card>
  </div>