<mat-toolbar color="primary">
    <div class="navbar-margin">
        <a routerLink="/todo">ToDo List App</a>
    </div>
    <span class="navbar-spacer"></span>

    <div *ngIf="isAuthenticated(); then doSomething; else doSomethingElse;"></div>
        <ng-template #doSomething>
            <div class="example-button-row">
                <a mat-raised-button class="cursor-pointer" (click)="logOut()">Logout</a>
            </div>
        </ng-template>
        <ng-template #doSomethingElse>
            <div class="example-button-row">
                <a mat-raised-button routerLink="/login">Login</a>
            </div>
            <div class="example-button-row">
                    <a mat-raised-button routerLink="/signup">Signup</a>
            </div>
        </ng-template>
</mat-toolbar>