<li
  *ngIf="todo as todo"
>
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo.status"
      (click)="edit.emit(todo)"
    />
    <label (dblclick)="activeEditMode()">
      {{ todo.item }}
    </label>
    <button class="destroy" (click)="delete.emit(todo.id)"></button>
  </div>
  <input
    class="edit"
    type="text"
    #textInput
    [hidden]="editing"
    [value]="todo.item"
    (keyup.enter)="updateText(todo, textInput.value)"
    (blur)="updateText(todo, textInput.value)"
  />
</li>
